##the following variables are used in this template
##packageName  		name of the package for this generated class
##className			name of this generated class
##tableName         name of the table from which data is extracted
##constDefs         collection of DBConstantDef objects having name/value pairs
package ${packageName};

/**
 *  This code was produced by code generation and will most likely be
 *  regenerated in the future. Take caution when editing by hand.
 */

/**
 * @is An object that contains constant definitions extracted from
 * the table ${tableName}.
 * @has constant definitions
 * @does no methods
 * @company The Jackson Laboratory
 */

public class ${className}
{
#foreach( $def in $constDefs )
    public static final int $def.name.toUpperCase() = ${def.keyValue};
#end
}
